requests==2.32.3
psutil==6.1.0
mss==9.0.2
Pillow==11.0.0
pystray==0.19.5
pywin32==308; platform_system == "Windows"
python-telegram-bot==21.9
cryptography==44.0.0
customtkinter==5.2.2
WMI==1.5.1; platform_system == "Windows"
pyinstaller==6.11.1
